doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    title Dokument bez tytu³u
    link(href='assets/css/style.css', rel='stylesheet', type='text/css')
    link(href='assets/css/styles/blue.responsive.css', rel='stylesheet', type='text/css')
  body
    //
       header
          ======================================== 
    //
       top bar
    .front-topbar
      .container
        .row
          #logo-v1.col-md-3
            a(href='#')
              img(src='assets/img/logo.jpg', alt='')
          .col-md-7
            ul.list-unstyled.list-topbar.list-inline.margin-top-20
              li
                a(href='#') Odkryj Modano
              li
                a(href='#') Odkryj Modano
              li
                a(href='#') Odkryj Modano
              li
                a(href='#') Odkryj Modano
          .col-md-2
            ul.list-unstyled.list-inline.margin-top-20
              li
                a.circleRed.fa.fa-heart(href='#')
              li.dropdown
                a.dropdown-toggle.circleRed.fa.fa-user(href='#', data-toggle='dropdown', data-hover='dropdown', data-delay='0', data-close-others='false')
                ul.dropdown-menu.text-left.pull-right
                  li
                    a(href='#') Zaloguj siê
                  li
                    a(href='#') Zarejestruj siê
    //
       ./end top bar
    //
       banner
          ======================================== 
    #banner.banner-home-v1
    //
       content
          ======================================== 
    .content-v1
      .container
        .row.margin-top-30.margin-bottom-40
          .col-md-8
            h2(style='font-size: 29px;')
              | Najlepsze zestawy
              span.circleRed.color-white.fa.fa-angle-right(style='font-size: 21px;')
            .row
              .col-md-6
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro1.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  h4 Lorem ipsum dolor sit amet dolorosa...
                  .author
                    | przez
                    a(href='#') nazwau¿ytkwnika
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-6
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro2.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  h4 Lorem ipsum dolor sit amet dolorosa...
                  .author
                    | przez
                    a(href='#') nazwau¿ytkwnika
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            h2.margin-top-50(style='font-size: 29px;')
              | Najpopularniejsze zestawy
              span.circleRed.color-white.fa.fa-angle-right(style='font-size: 21px;')
            .row
              .col-md-6
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro1.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  h4 Lorem ipsum dolor sit amet dolorosa...
                  .author
                    | przez
                    a(href='#') nazwau¿ytkwnika
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-6
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro2.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  h4 Lorem ipsum dolor sit amet dolorosa...
                  .author
                    | przez
                    a(href='#') nazwau¿ytkwnika
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            h2.margin-top-50(style='font-size: 29px;')
              | Style gwiazd
              span.circleRed.color-white.fa.fa-angle-right(style='font-size: 21px;')
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            .row.margin-top-30
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
              .col-md-3
                //
                   frontBox 
                .frontBox
                  .frontBox-img
                    a(href='#')
                      img(src='assets/img/demo/home/img-pro3.jpg', alt='')
                      em
                        i.circleRed.color-white.fa.fa-angle-right  
                  ul.list-unstyled.list-inline
                    li
                      span.badge
                        i.fa.fa-heart
                      | 1233
                    li
                      span.badge
                        i.fa.fa-comment
                      | 1233
                //
                   ./end frontBox 
            h2.margin-top-50
              | Aktualnosci - czyli co nowego?
              span.circleRed.color-white.fa.fa-angle-right
            .frontArt.margin-bottom-15
              img(src='assets/img/demo/home/img-art-1.jpg', alt='')
              .frontArt-desc.pull-right
                h4
                  | Lorem ipsum dolor sit amet,
                  span.circleRed.color-white.fa.fa-angle-right.pull-right.margin-right-20(style='margin-top: -1px;')
                .date 2 dni temu
                p
                  | ex nemore malorum sea, id ius possit democritum. Ex cum solum exerci suscipit. Eos vocent bonorum senserit ei, altera temporibus omittantur sed te. Sed graeco posidonium ex, no vis graece perpetua, tota dolorem assueverit eum ne.
            .frontArt.margin-bottom-15
              img(src='assets/img/demo/home/img-art-1.jpg', alt='')
              .frontArt-desc.pull-right
                h4
                  | Lorem ipsum dolor sit amet,
                  span.circleRed.color-white.fa.fa-angle-right.pull-right.margin-right-20(style='margin-top: -1px;')
                .date 2 dni temu
                p
                  | ex nemore malorum sea, id ius possit democritum. Ex cum solum exerci suscipit. Eos vocent bonorum senserit ei, altera temporibus omittantur sed te. Sed graeco posidonium ex, no vis graece perpetua, tota dolorem assueverit eum ne.
          .col-md-4
            h4.margin-top-20
              | Topowe produkty
              span.circleRed.color-white.fa.fa-angle-right
            .row
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-2.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
            .row
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-2.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
            .row
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-2.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
              .col-md-4
                a.frontSlider(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  .text-left
                    h4 Jeansy Lee cooper
                    span.frontSlider-price 199,99 z³
            h4.margin-top-20
              | Marki które kochamy
              span.circleRed.color-white.fa.fa-angle-right
            .row
              .col-md-4
                a.frontSliderMarki(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  div
                    h2 Wojas
              .col-md-4
                a.frontSliderMarki(href='#')
                  img(src='assets/img/demo/home/img-pro-right-2.jpg', alt='')
                  div
                    h2 Wojas
              .col-md-4
                a.frontSliderMarki(href='#')
                  img(src='assets/img/demo/home/img-pro-right-1.jpg', alt='')
                  div
                    h2 Wojas
            h4.margin-top-20
              | Topowe sklepy
              span.circleRed.color-white.fa.fa-angle-right
            ul.list-unstyled.list-shop
              li
                span.badge
                  span.circleRed.color-white 1
                  | refinery29shops.com
              li
                span.badge
                  span.circleRed.color-white 2
                  | refinery29shops.com refinery29shops.com
              li
                span.badge
                  span.circleRed.color-white 3
                  | refinery29shops.com
              li
                span.badge
                  span.circleRed.color-white 4
                  | refinery29shops.com
              li
                span.badge
                  span.circleRed.color-white 5
                  | refinery29shops.com
    //
       footer
          ======================================== 
    .footer
      .container
        .row
          .col-md-3
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum Lorem ipsum Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
          .col-md-3
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
          .col-md-3
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
          .col-md-3
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
            span.circleRed A
            ul.list-unstyled
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
              li
                a(href='#') Lorem ipsum
    .copyright
      .container
        //
           footer social 
        .row
          .col-md-12.text-center.footersocial
            a(href='#')
              i.fa.fa-facebook
            a(href='#')
              i.fa.fa-twitter
            a(href='#')
              i.fa.fa-tumblr
            a(href='#')
              i.fa.fa-vimeo-square
        //
           ./footer social 
        //
           footer menu 
        .row
          .col-md-12.text-center
            | Mapa serwisu    |   Mapa produktów    |    Regulamin    |   Polityka cookies    |   Dla sklepów     |   O nas    |   Blog    |   Kontakt
        //
           ./footer menu 
        //
           copyright 
        .row
          .col-md-12.text-center
            p
              span Copyright 2013 © www.modano.pl
        //
           ./copyright 
    //
       jQuery
          ======================================== 
    script(src='assets/js/jquery-1.10.2.js')
    script(src='assets/js/bootstrap.js')
    script(src='assets/js/jquery.ui.totop.js')
